body {
  background-color: slategrey;
  background-image: url(https://wallpapercave.com/wp/wp8411095.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* prevent from scrolling */
}

h1 {
  text-align: center;
  font-family: Bradley Hand;
  background-color: antiquewhite;
  padding: 10px;
}

h2 {
  text-align: center;
}

/* ~~~~~~~~~~ List Container ~~~~~~~~~~ */
.list-container {
  display: flex;
  flex-direction: column;
  margin-right: 30%;
}

/* ~~~~~~~~~~ Input Fields ~~~~~~~~~~ */
.input-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  border: 2px solid black;
  padding: 15px;
  min-width: 200px;
  width: 759px;
}

.input {
  width: 50%;
  margin: 0 auto;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 20.1);
  font-size: 14px;
}

/* ~~~~~~~~~~Table Style ~~~~~~~~~~ */
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: center;
  font-size: 16px;
  font-family: Papyrus;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

th {
  font-family: monospace;
  font-size: 18px;
  padding: 15px;
  background-color: black;
  color: whitesmoke;
}

.list-row {
  background-color: lavender;
  border-bottom: 2px solid black;
}

/* ~~~~~~~~~~ Table Container ~~~~~~~~~~ */
.list {
  border: 2px solid black;
  padding: 20px;
  min-width: 200px;
  margin: 5px auto;
}

/* ~~~~~~~~~~ Select menu ~~~~~~~~~~ */
#priorityIn {
  margin: 0 auto;
  font-size: 24px;
  width: 60px;
  border: 1px solid black;
  /* box-shadow: 0 0px 10px rgba(0, 0, 0, 19.1); */
  font-family: Comic Sans MS;
  color: seashell;
  background-color: darkblue;
}

/* ~~~~~~~~~~ Buttons ~~~~~~~~~~ */
#addBtn {
  background-color: darkorange;
  width: 50%;
  margin: 0 auto;
  height: 50px;
  font-family: monospace;
  border-radius: 25px;
  border: 1px solid black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 25.1); /* box shadow */
}

#addBtn:hover {
  background-color: springgreen;
  color: black;
}

.label {
  text-align: center;
}

#deleteBtn {
  border: 1px solid black;
  background-color: powderblue;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

/* ~~~~~~~~~~ Targets trash can icon in button ~~~~~~~~~~ */
button.deleteButton i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

button.deleteButton i:hover {
  color: orangered;
}

/* ~~~~~~~~~~ Style for the complete/incomplete buttons ~~~~~~~~~~ */
.completed-task {
  background-color: springgreen;
}

.completed-task #completeBtn {
  color: white;
  background-color: forestgreen;
  border-radius: 5px;
  border: 2px ridge #000; /* 2 pixel wide groove (3D) black border */
}

.incomplete-task {
  background-color: #d9534f;
}

.incomplete-task #completeBtn {
  color: white;
  background-color: crimson;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 25.1);
}

/* ~~~~~~~~~~ Styles for the Delete Confirmation Modal ~~~~~~~~~~ */
.modal-content {
  border: 2px solid black;
  border-radius: 10px;
  /* padding: 2px; */
}

.modal-header {
  background-color: lightcoral;
  color: ghostwhite;
  border-bottom: none;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.close {
  font-weight: bold;
  color: whitesmoke;
  transition: transform 0.2s;
}

.close:hover {
  color: black;
  transform: scale(1.5);
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  font-family: Myanmar MN;
}

.modal-body {
  text-align: center;
}

.modal-footer {
  border-top: none;
}

#confirmDeleteButton {
  background-color: #d9534f;
  color: #fff;
}

#confirmDeleteButton:hover {
  background-color: #c9302c;
}
